.u-section-1 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.4), rgba(0,0,0,0.4)), url("images/SeaSpace.jpg");
  background-position: 50% 50%;
}

.u-section-1 .u-sheet-1 {
  min-height: 800px;
}

.u-section-1 .u-text-1 {
  margin: 116px -69px 0 1071px;
}

.u-section-1 .u-text-2 {
  margin: 22px 812px 60px 189px;
}

@media (max-width: 1199px) {
  .u-section-1 .u-sheet-1 {
    min-height: 660px;
  }

  .u-section-1 .u-text-1 {
    margin-left: 971px;
  }

  .u-section-1 .u-text-2 {
    margin-left: 89px;
    margin-right: 712px;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-sheet-1 {
    min-height: 506px;
  }

  .u-section-1 .u-text-1 {
    margin-left: 861px;
  }

  .u-section-1 .u-text-2 {
    margin-left: 0;
    margin-right: 581px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-sheet-1 {
    min-height: 380px;
  }

  .u-section-1 .u-text-1 {
    margin-left: 771px;
  }

  .u-section-1 .u-text-2 {
    margin-right: 401px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-sheet-1 {
    min-height: 239px;
  }

  .u-section-1 .u-text-1 {
    margin-left: 671px;
  }

  .u-section-1 .u-text-2 {
    margin-right: 201px;
  }
}