.u-section-1 {
  background-image: none;
}

.u-section-1 .u-sheet-1 {
  min-height: 500px;
}

.u-section-1 .u-text-1 {
  font-family: Aclonica;
  margin: 21px auto 0;
}

.u-section-1 .u-image-1 {
  width: 411px;
  height: 259px;
  margin: -40px auto 60px;
}

@media (max-width: 575px) {
  .u-section-1 .u-sheet-1 {
    min-height: 456px;
  }

  .u-section-1 .u-image-1 {
    width: 340px;
    height: 215px;
  }
}