.u-section-1 {
  background-image: url("images/Rebus-4puzzle.png");
  background-position: 50% 50%;
}

.u-section-1 .u-sheet-1 {
  min-height: 761px;
}

@media (max-width: 1199px) {
  .u-section-1 .u-sheet-1 {
    min-height: 500px;
  }
}