.u-section-1 {
  background-image: url("images/wheresWaldo.jpg");
  background-position: 50% 50%;
}

.u-section-1 .u-sheet-1 {
  min-height: 100vh;
}

@media (max-width: 1199px) {
  .u-section-1 .u-sheet-1 {
    min-height: 500px;
  }
}.u-section-2 {
  background-image: none;
}

.u-section-2 .u-sheet-1 {
  min-height: 90px;
}

.u-section-2 .u-text-1 {
  font-weight: 400;
  animation-duration: 3000ms;
  margin: 1px auto 10px;
}