.u-section-1 {
  background-image: none;
  min-height: 785px;
}

.u-section-1 .u-shape-1 {
  width: calc(((100% - 1140px) / 2) + -42px);
  left: 0;
  right: auto;
}

.u-section-1 .u-shape-2 {
  width: calc(((100% - 1140px) / 2) + -42px);
  left: auto;
  right: 0;
}

.u-section-1 .u-shape-3 {
  width: 1224px;
  height: 39px;
  margin: 0 auto;
}

.u-section-1 .u-shape-4 {
  width: 56px;
  height: 56px;
  background-image: none;
  margin: 17px calc(((100% - 1140px) / 2) + -28px) 0 auto;
}

.u-section-1 .u-shape-5 {
  width: 300px;
  height: 40px;
  background-image: none;
  margin: 14px calc(((100% - 1140px) / 2) + -42px) 0 auto;
}

.u-section-1 .u-shape-6 {
  width: 40px;
  height: 124px;
  margin: -137px calc(((100% - 1140px) / 2) + 218px) 0 auto;
}

.u-section-1 .u-shape-7 {
  width: 56px;
  height: 56px;
  background-image: none;
  margin: -96px calc(((100% - 1140px) / 2) + 148px) 0 auto;
}

.u-section-1 .u-shape-8 {
  width: 56px;
  height: 56px;
  background-image: none;
  margin: -56px calc(((100% - 1140px) / 2) + 80px) 0 auto;
}

.u-section-1 .u-shape-9 {
  width: 300px;
  height: 40px;
  background-image: none;
  margin: 0 auto 0 calc(((100% - 1140px) / 2) + -51px);
}

.u-section-1 .u-shape-10 {
  width: 40px;
  height: 124px;
  margin: -130px auto 0 calc(((100% - 1140px) / 2) + 209px);
}

.u-section-1 .u-shape-11 {
  width: 56px;
  height: 56px;
  background-image: none;
  margin: -100px auto 0 calc(((100% - 1140px) / 2) + -28px);
}

.u-section-1 .u-shape-12 {
  width: 56px;
  height: 56px;
  background-image: none;
  margin: -56px auto 0 calc(((100% - 1140px) / 2) + 139px);
}

.u-section-1 .u-shape-13 {
  width: 238px;
  height: 40px;
  background-image: none;
  margin: 137px calc(((100% - 1140px) / 2) + 20px) 0 auto;
}

.u-section-1 .u-shape-14 {
  width: 40px;
  height: 124px;
  margin: -136px calc(((100% - 1140px) / 2) + 218px) 0 auto;
}

.u-section-1 .u-shape-15 {
  width: 56px;
  height: 56px;
  background-image: none;
  margin: -90px calc(((100% - 1140px) / 2) + 148px) 0 auto;
}

.u-section-1 .u-shape-16 {
  width: 40px;
  height: 405px;
  margin: -90px auto 0 calc(((100% - 1140px) / 2) + 209px);
}

.u-section-1 .u-shape-17 {
  width: 267px;
  height: 40px;
  background-image: none;
  margin: -199px calc(((100% - 1140px) / 2) + -49px) 0 auto;
}

.u-section-1 .u-shape-18 {
  width: 40px;
  height: 102px;
  margin: -109px calc(((100% - 1140px) / 2) + 218px) 0 auto;
}

.u-section-1 .u-shape-19 {
  width: 56px;
  height: 56px;
  background-image: none;
  margin: -96px calc(((100% - 1140px) / 2) + 148px) 0 auto;
}

.u-section-1 .u-shape-20 {
  width: 56px;
  height: 56px;
  background-image: none;
  margin: 134px calc(((100% - 1140px) / 2) + 144px) 0 auto;
}

.u-section-1 .u-shape-21 {
  width: 40px;
  height: 159px;
  margin: -150px calc(((100% - 1140px) / 2) + 218px) 0 auto;
}

.u-section-1 .u-shape-22 {
  width: 40px;
  height: 124px;
  margin: 8px auto 0 calc(((100% - 1140px) / 2) + 209px);
}

.u-section-1 .u-shape-23 {
  width: 300px;
  height: 40px;
  background-image: none;
  margin: -123px auto 0 calc(((100% - 1140px) / 2) + -51px);
}

.u-section-1 .u-image-1 {
  width: 70px;
  height: 70px;
  margin: 7px auto 0 calc(((100% - 1140px) / 2) + -35px);
}

.u-section-1 .u-shape-24 {
  width: 56px;
  height: 56px;
  background-image: none;
  margin: -63px auto 0 calc(((100% - 1140px) / 2) + 139px);
}

.u-section-1 .u-shape-25 {
  width: 300px;
  height: 40px;
  background-image: none;
  margin: -117px calc(((100% - 1140px) / 2) + -42px) 0 auto;
}

.u-section-1 .u-shape-26 {
  width: 1224px;
  height: 39px;
  margin: 91px auto 0;
}

.u-section-1 .u-shape-27 {
  width: 40px;
  height: 124px;
  margin: -142px calc(((100% - 1140px) / 2) + 218px) 0 auto;
}

.u-section-1 .u-shape-28 {
  width: 56px;
  height: 56px;
  background-image: none;
  margin: -94px calc(((100% - 1140px) / 2) + -28px) 0 auto;
}

.u-section-1 .u-shape-29 {
  width: 56px;
  height: 56px;
  background-image: none;
  margin: -58px calc(((100% - 1140px) / 2) + 69px) 0 auto;
}

.u-section-1 .u-shape-30 {
  width: 56px;
  height: 56px;
  background-image: none;
  margin: -56px calc(((100% - 1140px) / 2) + 142px) 0 auto;
}

.u-section-1 .u-shape-31 {
  width: 56px;
  height: 56px;
  background-image: none;
  margin: -250px calc(((100% - 1140px) / 2) + -14px) 0 auto;
}

.u-section-1 .u-shape-32 {
  width: 56px;
  height: 56px;
  background-image: none;
  margin: -285px auto 0 calc(((100% - 1140px) / 2) + 131px);
}

.u-section-1 .u-shape-33 {
  width: 238px;
  height: 40px;
  background-image: none;
  margin: 30px auto 0 calc(((100% - 1140px) / 2) + 11px);
}

.u-section-1 .u-shape-34 {
  width: 215px;
  height: 40px;
  background-image: none;
  margin: 62px auto 0 calc(((100% - 1140px) / 2) + -59px);
}

.u-section-1 .u-shape-35 {
  width: 238px;
  height: 40px;
  background-image: none;
  margin: 47px auto 0 calc(((100% - 1140px) / 2) + 11px);
}

.u-section-1 .u-shape-36 {
  width: 56px;
  height: 56px;
  background-image: none;
  margin: 0 auto 0 calc(((100% - 1140px) / 2) + 140px);
}

.u-section-1 .u-shape-37 {
  width: 56px;
  height: 56px;
  background-image: none;
  margin: -480px auto 0 calc(((100% - 1140px) / 2) + 290px);
}

.u-section-1 .u-shape-38 {
  width: 563px;
  height: 40px;
  background-image: none;
  margin: 15px auto 0 calc(((100% - 1140px) / 2) + 249px);
}

.u-section-1 .u-shape-39 {
  width: 563px;
  height: 40px;
  background-image: none;
  margin: 70px calc(((100% - 1140px) / 2) + 258px) 0 auto;
}

.u-section-1 .u-shape-40 {
  width: 563px;
  height: 40px;
  background-image: none;
  margin: 66px auto 0 calc(((100% - 1140px) / 2) + 240px);
}

.u-section-1 .u-shape-41 {
  width: 563px;
  height: 40px;
  background-image: none;
  margin: 163px auto 0 calc(((100% - 1140px) / 2) + 235px);
}

.u-section-1 .u-shape-42 {
  width: 563px;
  height: 40px;
  background-image: none;
  margin: -139px calc(((100% - 1140px) / 2) + 252px) 0 auto;
}

.u-section-1 .u-shape-43 {
  width: 40px;
  height: 102px;
  margin: -126px calc(((100% - 1140px) / 2) + 337px) 0 auto;
}

.u-section-1 .u-shape-44 {
  width: 56px;
  height: 56px;
  background-image: none;
  margin: -288px auto 0 calc(((100% - 1140px) / 2) + 278px);
}

.u-section-1 .u-shape-45 {
  width: 56px;
  height: 56px;
  background-image: none;
  margin: 146px calc(((100% - 1140px) / 2) + 266px) 0 auto;
}

.u-section-1 .u-shape-46 {
  width: 56px;
  height: 56px;
  background-image: none;
  margin: -152px auto 0;
}

.u-section-1 .u-shape-47 {
  width: 56px;
  height: 56px;
  background-image: none;
  margin: 48px calc(((100% - 1140px) / 2) + 390px) 0 auto;
}

.u-section-1 .u-shape-48 {
  width: 69px;
  height: 63px;
  margin: 155px auto 0 calc(((100% - 1140px) / 2) + 258px);
}

.u-section-1 .u-text-1 {
  margin: 63px auto 8px;
}

@media (max-width: 1199px) {
  .u-section-1 .u-shape-1 {
    width: calc(((100% - 940px) / 2) + -42px);
  }

  .u-section-1 .u-shape-2 {
    width: calc(((100% - 940px) / 2) + -42px);
  }

  .u-section-1 .u-shape-3 {
    width: 940px;
  }

  .u-section-1 .u-shape-4 {
    margin-right: calc(((100% - 940px) / 2) + -28px);
  }

  .u-section-1 .u-shape-5 {
    margin-right: calc(((100% - 940px) / 2) + -42px);
  }

  .u-section-1 .u-shape-6 {
    margin-right: calc(((100% - 940px) / 2) + 218px);
  }

  .u-section-1 .u-shape-7 {
    margin-right: calc(((100% - 940px) / 2) + 148px);
  }

  .u-section-1 .u-shape-8 {
    margin-right: calc(((100% - 940px) / 2) + 80px);
  }

  .u-section-1 .u-shape-9 {
    margin-left: calc(((100% - 940px) / 2) + -51px);
  }

  .u-section-1 .u-shape-10 {
    margin-left: calc(((100% - 940px) / 2) + 209px);
  }

  .u-section-1 .u-shape-11 {
    margin-left: calc(((100% - 940px) / 2) + -28px);
  }

  .u-section-1 .u-shape-12 {
    margin-left: calc(((100% - 940px) / 2) + 139px);
  }

  .u-section-1 .u-shape-13 {
    margin-right: calc(((100% - 940px) / 2) + 20px);
  }

  .u-section-1 .u-shape-14 {
    margin-right: calc(((100% - 940px) / 2) + 218px);
  }

  .u-section-1 .u-shape-15 {
    margin-right: calc(((100% - 940px) / 2) + 148px);
  }

  .u-section-1 .u-shape-16 {
    margin-left: calc(((100% - 940px) / 2) + 209px);
  }

  .u-section-1 .u-shape-17 {
    margin-right: calc(((100% - 940px) / 2) + -49px);
  }

  .u-section-1 .u-shape-18 {
    margin-right: calc(((100% - 940px) / 2) + 218px);
  }

  .u-section-1 .u-shape-19 {
    margin-right: calc(((100% - 940px) / 2) + 148px);
  }

  .u-section-1 .u-shape-20 {
    margin-right: calc(((100% - 940px) / 2) + 144px);
  }

  .u-section-1 .u-shape-21 {
    margin-right: calc(((100% - 940px) / 2) + 218px);
  }

  .u-section-1 .u-shape-22 {
    margin-left: calc(((100% - 940px) / 2) + 209px);
  }

  .u-section-1 .u-shape-23 {
    margin-left: calc(((100% - 940px) / 2) + -51px);
  }

  .u-section-1 .u-image-1 {
    margin-left: calc(((100% - 940px) / 2) + -35px);
  }

  .u-section-1 .u-shape-24 {
    margin-left: calc(((100% - 940px) / 2) + 139px);
  }

  .u-section-1 .u-shape-25 {
    margin-right: calc(((100% - 940px) / 2) + -42px);
  }

  .u-section-1 .u-shape-26 {
    width: 940px;
  }

  .u-section-1 .u-shape-27 {
    margin-right: calc(((100% - 940px) / 2) + 218px);
  }

  .u-section-1 .u-shape-28 {
    margin-right: calc(((100% - 940px) / 2) + -28px);
  }

  .u-section-1 .u-shape-29 {
    margin-right: calc(((100% - 940px) / 2) + 69px);
  }

  .u-section-1 .u-shape-30 {
    margin-right: calc(((100% - 940px) / 2) + 142px);
  }

  .u-section-1 .u-shape-31 {
    margin-right: calc(((100% - 940px) / 2) + -14px);
  }

  .u-section-1 .u-shape-32 {
    margin-left: calc(((100% - 940px) / 2) + 131px);
  }

  .u-section-1 .u-shape-33 {
    margin-left: calc(((100% - 940px) / 2) + 11px);
  }

  .u-section-1 .u-shape-34 {
    margin-left: calc(((100% - 940px) / 2) + -59px);
  }

  .u-section-1 .u-shape-35 {
    margin-left: calc(((100% - 940px) / 2) + 11px);
  }

  .u-section-1 .u-shape-36 {
    margin-left: calc(((100% - 940px) / 2) + 140px);
  }

  .u-section-1 .u-shape-37 {
    margin-left: calc(((100% - 940px) / 2) + 290px);
  }

  .u-section-1 .u-shape-38 {
    margin-left: calc(((100% - 940px) / 2) + 249px);
  }

  .u-section-1 .u-shape-39 {
    margin-right: calc(((100% - 940px) / 2) + 258px);
  }

  .u-section-1 .u-shape-40 {
    margin-left: calc(((100% - 940px) / 2) + 240px);
  }

  .u-section-1 .u-shape-41 {
    margin-left: calc(((100% - 940px) / 2) + 235px);
  }

  .u-section-1 .u-shape-42 {
    margin-right: calc(((100% - 940px) / 2) + 252px);
  }

  .u-section-1 .u-shape-43 {
    margin-right: calc(((100% - 940px) / 2) + 337px);
  }

  .u-section-1 .u-shape-44 {
    margin-left: calc(((100% - 940px) / 2) + 278px);
  }

  .u-section-1 .u-shape-45 {
    margin-right: calc(((100% - 940px) / 2) + 266px);
  }

  .u-section-1 .u-shape-47 {
    margin-right: calc(((100% - 940px) / 2) + 390px);
  }

  .u-section-1 .u-shape-48 {
    margin-left: calc(((100% - 940px) / 2) + 258px);
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-shape-1 {
    width: calc(((100% - 720px) / 2) + -42px);
  }

  .u-section-1 .u-shape-2 {
    width: calc(((100% - 720px) / 2) + -42px);
  }

  .u-section-1 .u-shape-3 {
    width: 720px;
  }

  .u-section-1 .u-shape-4 {
    margin-right: calc(((100% - 720px) / 2) + -28px);
  }

  .u-section-1 .u-shape-5 {
    margin-right: calc(((100% - 720px) / 2) + -42px);
  }

  .u-section-1 .u-shape-6 {
    margin-right: calc(((100% - 720px) / 2) + 218px);
  }

  .u-section-1 .u-shape-7 {
    margin-right: calc(((100% - 720px) / 2) + 148px);
  }

  .u-section-1 .u-shape-8 {
    margin-right: calc(((100% - 720px) / 2) + 80px);
  }

  .u-section-1 .u-shape-9 {
    margin-left: calc(((100% - 720px) / 2) + -51px);
  }

  .u-section-1 .u-shape-10 {
    margin-left: calc(((100% - 720px) / 2) + 209px);
  }

  .u-section-1 .u-shape-11 {
    margin-left: calc(((100% - 720px) / 2) + -28px);
  }

  .u-section-1 .u-shape-12 {
    margin-left: calc(((100% - 720px) / 2) + 139px);
  }

  .u-section-1 .u-shape-13 {
    margin-right: calc(((100% - 720px) / 2) + 20px);
  }

  .u-section-1 .u-shape-14 {
    margin-right: calc(((100% - 720px) / 2) + 218px);
  }

  .u-section-1 .u-shape-15 {
    margin-right: calc(((100% - 720px) / 2) + 148px);
  }

  .u-section-1 .u-shape-16 {
    margin-left: calc(((100% - 720px) / 2) + 209px);
  }

  .u-section-1 .u-shape-17 {
    margin-right: calc(((100% - 720px) / 2) + -49px);
  }

  .u-section-1 .u-shape-18 {
    margin-right: calc(((100% - 720px) / 2) + 218px);
  }

  .u-section-1 .u-shape-19 {
    margin-right: calc(((100% - 720px) / 2) + 148px);
  }

  .u-section-1 .u-shape-20 {
    margin-right: calc(((100% - 720px) / 2) + 144px);
  }

  .u-section-1 .u-shape-21 {
    margin-right: calc(((100% - 720px) / 2) + 218px);
  }

  .u-section-1 .u-shape-22 {
    margin-left: calc(((100% - 720px) / 2) + 209px);
  }

  .u-section-1 .u-shape-23 {
    margin-left: calc(((100% - 720px) / 2) + -51px);
  }

  .u-section-1 .u-image-1 {
    margin-left: calc(((100% - 720px) / 2) + -35px);
  }

  .u-section-1 .u-shape-24 {
    margin-left: calc(((100% - 720px) / 2) + 139px);
  }

  .u-section-1 .u-shape-25 {
    margin-right: calc(((100% - 720px) / 2) + -42px);
  }

  .u-section-1 .u-shape-26 {
    width: 720px;
  }

  .u-section-1 .u-shape-27 {
    margin-right: calc(((100% - 720px) / 2) + 218px);
  }

  .u-section-1 .u-shape-28 {
    margin-right: calc(((100% - 720px) / 2) + -28px);
  }

  .u-section-1 .u-shape-29 {
    margin-right: calc(((100% - 720px) / 2) + 69px);
  }

  .u-section-1 .u-shape-30 {
    margin-right: calc(((100% - 720px) / 2) + 142px);
  }

  .u-section-1 .u-shape-31 {
    margin-right: calc(((100% - 720px) / 2) + -14px);
  }

  .u-section-1 .u-shape-32 {
    margin-left: calc(((100% - 720px) / 2) + 131px);
  }

  .u-section-1 .u-shape-33 {
    margin-left: calc(((100% - 720px) / 2) + 11px);
  }

  .u-section-1 .u-shape-34 {
    margin-left: calc(((100% - 720px) / 2) + -59px);
  }

  .u-section-1 .u-shape-35 {
    margin-left: calc(((100% - 720px) / 2) + 11px);
  }

  .u-section-1 .u-shape-36 {
    margin-left: calc(((100% - 720px) / 2) + 140px);
  }

  .u-section-1 .u-shape-37 {
    margin-left: calc(((100% - 720px) / 2) + 290px);
  }

  .u-section-1 .u-shape-38 {
    margin-left: calc(((100% - 720px) / 2) + 157px);
  }

  .u-section-1 .u-shape-39 {
    margin-right: calc(((100% - 720px) / 2) + 157px);
  }

  .u-section-1 .u-shape-40 {
    margin-left: calc(((100% - 720px) / 2) + 157px);
  }

  .u-section-1 .u-shape-41 {
    margin-left: calc(((100% - 720px) / 2) + 157px);
  }

  .u-section-1 .u-shape-42 {
    margin-right: calc(((100% - 720px) / 2) + 157px);
  }

  .u-section-1 .u-shape-43 {
    margin-right: calc(((100% - 720px) / 2) + 337px);
  }

  .u-section-1 .u-shape-44 {
    margin-left: calc(((100% - 720px) / 2) + 278px);
  }

  .u-section-1 .u-shape-45 {
    margin-right: calc(((100% - 720px) / 2) + 266px);
  }

  .u-section-1 .u-shape-47 {
    margin-right: calc(((100% - 720px) / 2) + 390px);
  }

  .u-section-1 .u-shape-48 {
    margin-left: calc(((100% - 720px) / 2) + 258px);
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-shape-1 {
    width: calc(((100% - 540px) / 2) + -42px);
  }

  .u-section-1 .u-shape-2 {
    width: calc(((100% - 540px) / 2) + -42px);
  }

  .u-section-1 .u-shape-3 {
    width: 540px;
  }

  .u-section-1 .u-shape-4 {
    margin-right: calc(((100% - 540px) / 2) + -28px);
  }

  .u-section-1 .u-shape-5 {
    margin-right: calc(((100% - 540px) / 2) + -42px);
  }

  .u-section-1 .u-shape-6 {
    margin-right: calc(((100% - 540px) / 2) + 218px);
  }

  .u-section-1 .u-shape-7 {
    margin-right: calc(((100% - 540px) / 2) + 148px);
  }

  .u-section-1 .u-shape-8 {
    margin-right: calc(((100% - 540px) / 2) + 80px);
  }

  .u-section-1 .u-shape-9 {
    margin-left: calc(((100% - 540px) / 2) + -51px);
  }

  .u-section-1 .u-shape-10 {
    margin-left: calc(((100% - 540px) / 2) + 209px);
  }

  .u-section-1 .u-shape-11 {
    margin-left: calc(((100% - 540px) / 2) + -28px);
  }

  .u-section-1 .u-shape-12 {
    margin-left: calc(((100% - 540px) / 2) + 139px);
  }

  .u-section-1 .u-shape-13 {
    margin-right: calc(((100% - 540px) / 2) + 20px);
  }

  .u-section-1 .u-shape-14 {
    margin-right: calc(((100% - 540px) / 2) + 218px);
  }

  .u-section-1 .u-shape-15 {
    margin-right: calc(((100% - 540px) / 2) + 148px);
  }

  .u-section-1 .u-shape-16 {
    margin-left: calc(((100% - 540px) / 2) + 209px);
  }

  .u-section-1 .u-shape-17 {
    margin-right: calc(((100% - 540px) / 2) + -49px);
  }

  .u-section-1 .u-shape-18 {
    margin-right: calc(((100% - 540px) / 2) + 218px);
  }

  .u-section-1 .u-shape-19 {
    margin-right: calc(((100% - 540px) / 2) + 148px);
  }

  .u-section-1 .u-shape-20 {
    margin-right: calc(((100% - 540px) / 2) + 144px);
  }

  .u-section-1 .u-shape-21 {
    margin-right: calc(((100% - 540px) / 2) + 218px);
  }

  .u-section-1 .u-shape-22 {
    margin-left: calc(((100% - 540px) / 2) + 209px);
  }

  .u-section-1 .u-shape-23 {
    margin-left: calc(((100% - 540px) / 2) + -51px);
  }

  .u-section-1 .u-image-1 {
    margin-left: calc(((100% - 540px) / 2) + -35px);
  }

  .u-section-1 .u-shape-24 {
    margin-left: calc(((100% - 540px) / 2) + 139px);
  }

  .u-section-1 .u-shape-25 {
    margin-right: calc(((100% - 540px) / 2) + -42px);
  }

  .u-section-1 .u-shape-26 {
    width: 540px;
  }

  .u-section-1 .u-shape-27 {
    margin-right: calc(((100% - 540px) / 2) + 218px);
  }

  .u-section-1 .u-shape-28 {
    margin-right: calc(((100% - 540px) / 2) + -28px);
  }

  .u-section-1 .u-shape-29 {
    margin-right: calc(((100% - 540px) / 2) + 69px);
  }

  .u-section-1 .u-shape-30 {
    margin-right: calc(((100% - 540px) / 2) + 142px);
  }

  .u-section-1 .u-shape-31 {
    margin-right: calc(((100% - 540px) / 2) + -14px);
  }

  .u-section-1 .u-shape-32 {
    margin-left: calc(((100% - 540px) / 2) + 131px);
  }

  .u-section-1 .u-shape-33 {
    margin-left: calc(((100% - 540px) / 2) + 11px);
  }

  .u-section-1 .u-shape-34 {
    margin-left: calc(((100% - 540px) / 2) + -59px);
  }

  .u-section-1 .u-shape-35 {
    margin-left: calc(((100% - 540px) / 2) + 11px);
  }

  .u-section-1 .u-shape-36 {
    margin-left: calc(((100% - 540px) / 2) + 140px);
  }

  .u-section-1 .u-shape-37 {
    margin-left: calc(((100% - 540px) / 2) + 290px);
  }

  .u-section-1 .u-shape-38 {
    width: 540px;
    margin-left: calc(((100% - 540px) / 2));
  }

  .u-section-1 .u-shape-39 {
    width: 540px;
    margin-right: calc(((100% - 540px) / 2));
  }

  .u-section-1 .u-shape-40 {
    width: 540px;
    margin-left: calc(((100% - 540px) / 2));
  }

  .u-section-1 .u-shape-41 {
    width: 540px;
    margin-left: calc(((100% - 540px) / 2));
  }

  .u-section-1 .u-shape-42 {
    width: 540px;
    margin-right: calc(((100% - 540px) / 2));
  }

  .u-section-1 .u-shape-43 {
    margin-right: calc(((100% - 540px) / 2) + 337px);
  }

  .u-section-1 .u-shape-44 {
    margin-left: calc(((100% - 540px) / 2) + 278px);
  }

  .u-section-1 .u-shape-45 {
    margin-right: calc(((100% - 540px) / 2) + 266px);
  }

  .u-section-1 .u-shape-47 {
    margin-right: calc(((100% - 540px) / 2) + 390px);
  }

  .u-section-1 .u-shape-48 {
    margin-left: calc(((100% - 540px) / 2) + 258px);
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-shape-1 {
    width: calc(((100% - 340px) / 2) + -42px);
  }

  .u-section-1 .u-shape-2 {
    width: calc(((100% - 340px) / 2) + -42px);
  }

  .u-section-1 .u-shape-3 {
    width: 340px;
  }

  .u-section-1 .u-shape-4 {
    margin-right: calc(((100% - 340px) / 2) + -28px);
  }

  .u-section-1 .u-shape-5 {
    margin-right: calc(((100% - 340px) / 2) + -42px);
  }

  .u-section-1 .u-shape-6 {
    margin-right: calc(((100% - 340px) / 2) + 218px);
  }

  .u-section-1 .u-shape-7 {
    margin-right: calc(((100% - 340px) / 2) + 148px);
  }

  .u-section-1 .u-shape-8 {
    margin-right: calc(((100% - 340px) / 2) + 80px);
  }

  .u-section-1 .u-shape-9 {
    margin-left: calc(((100% - 340px) / 2) + -51px);
  }

  .u-section-1 .u-shape-10 {
    margin-left: calc(((100% - 340px) / 2) + 209px);
  }

  .u-section-1 .u-shape-11 {
    margin-left: calc(((100% - 340px) / 2) + -28px);
  }

  .u-section-1 .u-shape-12 {
    margin-left: calc(((100% - 340px) / 2) + 139px);
  }

  .u-section-1 .u-shape-13 {
    margin-right: calc(((100% - 340px) / 2) + 20px);
  }

  .u-section-1 .u-shape-14 {
    margin-right: calc(((100% - 340px) / 2) + 218px);
  }

  .u-section-1 .u-shape-15 {
    margin-right: calc(((100% - 340px) / 2) + 148px);
  }

  .u-section-1 .u-shape-16 {
    margin-left: calc(((100% - 340px) / 2) + 209px);
  }

  .u-section-1 .u-shape-17 {
    margin-right: calc(((100% - 340px) / 2) + -49px);
  }

  .u-section-1 .u-shape-18 {
    margin-right: calc(((100% - 340px) / 2) + 218px);
  }

  .u-section-1 .u-shape-19 {
    margin-right: calc(((100% - 340px) / 2) + 148px);
  }

  .u-section-1 .u-shape-20 {
    margin-right: calc(((100% - 340px) / 2) + 144px);
  }

  .u-section-1 .u-shape-21 {
    margin-right: calc(((100% - 340px) / 2) + 218px);
  }

  .u-section-1 .u-shape-22 {
    margin-left: calc(((100% - 340px) / 2) + 209px);
  }

  .u-section-1 .u-shape-23 {
    margin-left: calc(((100% - 340px) / 2) + -51px);
  }

  .u-section-1 .u-image-1 {
    margin-left: calc(((100% - 340px) / 2) + -35px);
  }

  .u-section-1 .u-shape-24 {
    margin-left: calc(((100% - 340px) / 2) + 139px);
  }

  .u-section-1 .u-shape-25 {
    margin-right: calc(((100% - 340px) / 2) + -42px);
  }

  .u-section-1 .u-shape-26 {
    width: 340px;
  }

  .u-section-1 .u-shape-27 {
    margin-right: calc(((100% - 340px) / 2) + 218px);
  }

  .u-section-1 .u-shape-28 {
    margin-right: calc(((100% - 340px) / 2) + -28px);
  }

  .u-section-1 .u-shape-29 {
    margin-right: calc(((100% - 340px) / 2) + 69px);
  }

  .u-section-1 .u-shape-30 {
    margin-right: calc(((100% - 340px) / 2) + 142px);
  }

  .u-section-1 .u-shape-31 {
    margin-right: calc(((100% - 340px) / 2) + -14px);
  }

  .u-section-1 .u-shape-32 {
    margin-left: calc(((100% - 340px) / 2) + 131px);
  }

  .u-section-1 .u-shape-33 {
    margin-left: calc(((100% - 340px) / 2) + 11px);
  }

  .u-section-1 .u-shape-34 {
    margin-left: calc(((100% - 340px) / 2) + -59px);
  }

  .u-section-1 .u-shape-35 {
    margin-left: calc(((100% - 340px) / 2) + 11px);
  }

  .u-section-1 .u-shape-36 {
    margin-left: calc(((100% - 340px) / 2) + 140px);
  }

  .u-section-1 .u-shape-37 {
    margin-left: calc(((100% - 340px) / 2) + 284px);
  }

  .u-section-1 .u-shape-38 {
    width: 340px;
    margin-left: calc(((100% - 340px) / 2));
  }

  .u-section-1 .u-shape-39 {
    width: 340px;
    margin-right: calc(((100% - 340px) / 2));
  }

  .u-section-1 .u-shape-40 {
    width: 340px;
    margin-left: calc(((100% - 340px) / 2));
  }

  .u-section-1 .u-shape-41 {
    width: 340px;
    margin-left: calc(((100% - 340px) / 2));
  }

  .u-section-1 .u-shape-42 {
    width: 340px;
    margin-right: calc(((100% - 340px) / 2));
  }

  .u-section-1 .u-shape-43 {
    margin-right: calc(((100% - 340px) / 2) + 300px);
  }

  .u-section-1 .u-shape-44 {
    margin-left: calc(((100% - 340px) / 2) + 278px);
  }

  .u-section-1 .u-shape-45 {
    margin-right: calc(((100% - 340px) / 2) + 266px);
  }

  .u-section-1 .u-shape-47 {
    margin-right: calc(((100% - 340px) / 2) + 284px);
  }

  .u-section-1 .u-shape-48 {
    margin-left: calc(((100% - 340px) / 2) + 258px);
  }
}