.u-section-1 {
  background-image: none;
}

.u-section-1 .u-sheet-1 {
  min-height: 470px;
}

.u-section-1 .u-image-1 {
  height: 432px;
  margin-top: 33px;
  margin-bottom: 0;
}

.u-section-1 .u-rotation-parent-1 {
  width: 77px;
  height: 123px;
  margin: -374px auto 60px -77px;
}

.u-section-1 .u-shape-1 {
  width: 123px;
  height: 77px;
}